<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Roverstufe</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="/images/favicon-32x32.svg">
  <!-- Google Fonts CDN -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
  <!-- Self host font -->
  <!-- <link rel="preload" href="/assets/fonts/playfair-display.woff2" as="font" type="font/woff2" crossorigin> -->
  <link href="/assets/css/style.css" rel="stylesheet">
  
  <meta name="description" content="Roverstufe in der DPSG" />
  <meta property="og:title" content="Roverstufe"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content=""/>
  
  <meta property="og:description" content="Roverstufe in der DPSG"/>
  <meta name="twitter:card" content="summary"/>
  
  

</head>

<body class='page page-home'>
  <div id="main-menu-mobile" class="main-menu-mobile">
  
  <ul>
    
    <li class="">
      <a href="https://voco.rover.de">Voco</a>
    </li>
    
    <li class="">
      <a href="https://wiki.rover.de">Wiki</a>
    </li>
    
    <li class="">
      <a href="https://roverway.de">Roverway</a>
    </li>
    
    <li class="">
      <a href="/services/">Themen</a>
    </li>
    
    <li class="">
      <a href="/services/woodbadge/">WBK</a>
    </li>
    
    <li class="">
      <a href="/piw/">Pfingsten</a>
    </li>
    
    <li class="">
      <a href="/contact/">Kontakt</a>
    </li>
    
  </ul>
</div>

  <div id="wrapper" class="wrapper">
    <div class='header'>
  <div class="container">
    <div class="logo">
      <a href="/"><img width="120px" height="25px" alt="Roverstufe in der DPSG" src="/images/logo/rover.svg" /></a>
    </div>
    <div class="logo-mobile">
      <a href="/"><img width="50px" height="50px" alt="Roverstufe in der DPSG" src="/images/logo/rover-mobile.svg" /></a>
    </div>
    <div id="main-menu" class="main-menu">
  
  <ul>
    
    <li class="" >
      <a href="https://voco.rover.de">Voco</a>
    </li>
    
    <li class="" >
      <a href="https://wiki.rover.de">Wiki</a>
    </li>
    
    <li class="" >
      <a href="https://roverway.de">Roverway</a>
    </li>
    
    <li class="" >
      <a href="/services/">Themen</a>
    </li>
    
    <li class="" >
      <a href="/services/woodbadge/">WBK</a>
    </li>
    
    <li class="" >
      <a href="/piw/">Pfingsten</a>
    </li>
    
    <li class="" >
      <a href="/contact/">Kontakt</a>
    </li>
    
  </ul>
</div>

    <button id="toggle-main-menu-mobile" class="hamburger hamburger--slider" type="button" aria-label="Mobile Menu">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>
  </div>
</div>

    <div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        <h1 id="roverstufe-in-der-dpsg">Roverstufe in der DPSG</h1>

<p>Unser geliebter rover.de Server hat leider unfreiwillig den Betrieb eingestellt. Bis wir das Backup gefunden haben, gibt es alle wichtigen Infos auf dieser Seite. Einige Links der alten Homepage funktionieren daher im Moment leider nicht.</p>

        
      </div>
      
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <img alt="Roverstufe" class="intro-image intro-image-absolute intro-image-hide-mobile" src="images/illustrations/rover_neu.svg" />
      </div>
      
    </div>
  </div>
</div>

<div class="strip strip-grey">
  <div class="container text-center pt-6 pb-6 pb-md-10">
    <h2 class="display-5 fw-bold">Workshops @ Rover</h2>
    <p class="lead mb-4">
      Neugierig auf das Programm? <br class="d-none d-md-inline">
      Entdecke jetzt alle Angebote für Samstag &amp; Sonntag!
    </p>
    <a class="btn btn-primary btn-lg px-4" href="{{ '/piw/' | relative_url }}">
      Zum Programm&nbsp;›
    </a>
  </div>
</div>

<div class="strip">
  <div class="container pt-6 pb-6 pb-md-10">
    <div class="row justify-content-start">
      
      
      
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <a href="/services/schwerpunkte/">Schwerpunkte</a>
            </h2>
            <p>In unserer Ordnung finden sich sechs Schwerpunkte der Roverstufe. Sie sind die Inhalte für die Ro...</p>
          </div>
        </div>
      </div>
      
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <a href="/services/woodbadge/">Woodbadge Kurse</a>
            </h2>
            <p>Eine Übersicht aller geplanten Woodbagekurse in der Roverstufe.

Geplante Kurse

Regionen West un...</p>
          </div>
        </div>
      </div>
      
      <div class="col-12 col-md-4 mb-1">
        <div class="service service-summary">
          <div class="service-content">
            <h2 class="service-title">
              <a href="/services/discord/">Discord</a>
            </h2>
            <p>Treffe Rover*innen im (inoffiziellen) Roverdiscord!

Selbstverwaltete Rover-Discord

Auch zu find...</p>
          </div>
        </div>
      </div>
      
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a class="button button-primary" href="/services">Alle Themen anzeigen</a>
      </div>
    </div>
  </div>
</div>


<div class="strip strip-grey">
  <div class="container pt-6 pb-6 pt-md-10 pb-md-10">
    <div class="row justify-content-center">

      
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          
          <div class="feature-image"><img alt="Voco Dokumentation logo" src="/images/features/noun_branding_1885335.svg" width="80" height="80" /></div>
          
          <h2 class="feature-title">Voco Dokumentation</h2>
          <div class="feature-content">Die <a href='https://voco.rover.de'>Dokumentation</a> des rover Bundesunternehmens 2022</div>
        </div>
      </div>
      
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          
          <div class="feature-image"><img alt="Roverway 2024 logo" src="/images/features/noun_The%20Process_1885341.svg" width="80" height="80" /></div>
          
          <h2 class="feature-title">Roverway 2024</h2>
          <div class="feature-content">Alles über das <a href='https://roverway.de'>Roverway 2024</a> in Norwegen</div>
        </div>
      </div>
      
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature">
          
          <div class="feature-image"><img alt="Wiki der Roverstufe logo" src="/images/features/noun_3d%20modeling_1885342.svg" width="80" height="80" /></div>
          
          <h2 class="feature-title">Wiki der Roverstufe</h2>
          <div class="feature-content">Unser <a href='https://wiki.rover.de'>Leitungshandbuch</a> als Wiki für Roverleiter*innen</div>
        </div>
      </div>
      

    </div>
  </div>
</div>


  </div>
  <div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <h2 class="footer-title">Roverstufe in der DPSG</h2>
          <ul>
            
            
            <li class="active">
              <a href="/">Home</a>
            </li>
            
            <li class="">
              <a href="/contact/">Kontakt</a>
            </li>
            
            <li class="">
              <a href="https://dpsg.de/de/impressum">Impressum</a>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          
            <div class="social">
  
    <a href="https://instagram.com/roverstufe" target="blank"><img src="/images/social/instagram.svg" title="Instagram" alt="Instagram" /></a>
  
    <a href="https://www.youtube.com/user/roverparade" target="blank"><img src="/images/social/youtube.svg" title="Youtube" alt="Youtube" /></a>
  
    <a href="https://github.com/roverstufe" target="blank"><img src="/images/social/github.svg" title="Github" alt="Github" /></a>
  
</div>

          
          
          <div class="copyright">Mit ❤️ von der Roverstufe in der DPSG</div>
          
        </div>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript" src="/assets/js/scripts.js"></script>
  
</body>
</html>
